<section id="perspective" class="">
	<section class="container">
		<header class="product-title">
			<h1>Code With Heart ,Make Application better！</h1>
			<div class="links">
				<a data-hash="home" class="icon-home pagechange"></a>
				<a data-hash="home" class="icon-back pagechange"></a>
			</div>
		</header>	
			
		<nav class="product clearfix">
			<button id="topleft"  ng-click="changeClass('tpl')"  ng-class="{ 'item' :true, 'active' :target.tpl ,'inactive':Intarget.tpl, 'active-reverse' : targetReverse.tpl,'inactive-reverse': IntargetReverse.tpl}">
				<span class="icon-cloud"></span>
			</button>
			<button  id="topright" ng-click="changeClass('tpr')"  ng-class="{ 'item' :true, 'active' :target.tpr ,'inactive':Intarget.tpr,'active-reverse' : targetReverse.tpr,'inactive-reverse': IntargetReverse.tpr}">
				<span class="icon-tag"></span>
			</button>
			<button  id="btmleft" ng-click="changeClass('btml')"  ng-class="{'item' :true, 'active' :target.btml ,'inactive':Intarget.btml,'active-reverse' : targetReverse.btml,'inactive-reverse': IntargetReverse.btml}">
				<span class="icon-down"></span>
			</button>
			<button  id="btmright" ng-click="changeClass('btmr')"  ng-class="{ 'item' :true,'active' :target.btmr ,'inactive':Intarget.btmr,'active-reverse' : targetReverse.btmr,'inactive-reverse': IntargetReverse.btmr}">
				<span class="icon-heart"></span>
			</button>
		</nav>
		
		
		
		<section id="ovl-topleft" ng-class="{ 'overlay' :true, 'active' :target.tpl ,'inactive':Intarget.tpl,'active-reverse' : targetReverse.tpl,'inactive-reverse': IntargetReverse.tpl}">
			<div class="wrap">
				<h1>WeiXin Phone</h1>
				<p>written By NodeJS ,Css Html and  JS,use company's interface</p>
				<img src="img/weixinPhone.png" />
			</div>
			<button class="close" ng-click="close('tpl')">
				<span></span>
			</button>
		</section>
		<section id="ovl-topright" ng-class="{ 'overlay' :true, 'active' :target.tpr ,'inactive':Intarget.tpr,'active-reverse' : targetReverse.tpr,'inactive-reverse': IntargetReverse.tpr }">
			<div class="wrap">
				<h1>Clients' Backstage</h1>
				<p>written by NodeJS and AngularJS</p>
				<img src="img/backstage.png"/>
			</div>
			<button class="close" ng-click="close('tpr')">
				<span></span>
			</button>
		</section>
		<section id="ovl-btmleft" ng-class="{ 'overlay' :true, 'active' :target.btml ,'inactive':Intarget.btml,'active-reverse' : targetReverse.btml,'inactive-reverse': IntargetReverse.btml }">
			<div class="wrap">
				<h1>investment page</h1>
				<p>Written for company to attract investment</p>
				<img src="img/ivest.png" />
			</div>
			<button class="close" ng-click="close('btml')">
				<span></span>
			</button>
		</section>
		<section id="ovl-btmright" ng-class="{ 'overlay' :true, 'active' :target.btmr ,'inactive':Intarget.btmr,'active-reverse' : targetReverse.btmr,'inactive-reverse': IntargetReverse.btmr }">
			<div class="wrap">
				<h1>My Personal Site Is Also My Production</h1>
				<p>witten by css3 , AngularJS and RequireJS</p>
				<img src="img/my-projection.jpg" />
			</div>
			<button class="close" ng-click="close('btmr')">
				<span></span>
			</button>
		</section>
	</section>
</section>