/* reset */
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
    margin: 0;
    padding: 0;
}

header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th {
    text-align: left;
    font-weight: normal;
}

html, body, fieldset, img, iframe, abbr {
    border: 0;
}

i, cite, em, var, address, dfn {
    font-style: normal;
}

[hidefocus], summary {
    outline: 0;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, small {
    font-size: 100%;
}

sup, sub {
    font-size: 83%;
}

pre, code, kbd, samp {
    font-family: inherit;
}

q:before, q:after {
    content: none;
}

textarea {
    overflow: auto;
    resize: none;
}

label, summary {
    cursor: default;
}

a, button {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, em, strong, b {
    font-weight: bold;
}

del, ins, u, s, a, a:hover {
    text-decoration: none;
}

textarea, input, button, select, keygen, legend {
    color: #333;
    outline: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    color: #5a5350;
    font-weight: 300;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 16px;
}

a, a:hover {
    color: #333;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

/* È«¾Öfont */

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(fonts/glyphicons-halflings-regular.eot);
    src: url(fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(fonts/glyphicons-halflings-regular.woff2) format('woff2'), url(fonts/glyphicons-halflings-regular.woff) format('woff'), url(fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
font-weight: normal;
    font-style: normal;
}

#blog_wrap, #sideBar {
    height: 100%;
    min-height: 100%;
}

#sideBar {

    padding: 0;
    margin: 0;
}

#sideBar .sideBar_head {
    position: relative;
    height: 158px;
    padding-top: 30px;
    text-align: center;
    background: url("../img/background.jpg") no-repeat;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-background-size: cover;
    background-size: cover;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#sideBar .ruixi_logo {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    margin: auto;
    background-image: url("../img/head.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#sideBar .ruixi_logo:hover {
    background-image: url("../img/ruixi.jpg");
}

#sideBar .ruixi_url {
    margin-top: 20px;
}

#sideBar .sideBar_nav a {
    color: #212121;
    position: relative;
    cursor: pointer;
    user-select: none;
    display: block;
    height: 48px;
    line-height: 48px;
    padding: 0;
    padding-left: 16px;
    padding-right: 56px;
    text-decoration: none;
    clear: both;
    font-weight: 500;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#sideBar .sideBar_icon {
    display: inline-block;
    margin-right: 18px;
    min-width: 30px;
    width: 30px;
    text-align: left;
}

#weather-background{
    background-color: #6FC2D4;
}